<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroundBnB</title>
</head>
<link rel="stylesheet" href="/style/includes/nav.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Londrina+Shadow&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
<style>
    .logo-container a{
        text-decoration: none;
        color: black;
    }
</style>
<body>
<header>
    <nav>
        <div class="logo-container"><a href="/listings"><p>GroundBnB</p></a></div>
        <form class="nav-container">
            <div class="filter-options">
                <div class="text">
                    <label for="where">Where</label>
                    <br>
                    <input type="text" id="where" placeholder="Search Destinations">
                </div>
                <span class="Mover"></span>
            </div>
            <div class="filter-options">
                <div class="text">
                    <label for="when">When</label>
                    <br>
                    <p id="when">Add Dates</p>
                </div>
            </div>
            <div class="filter-options">
                <div class="text">
                    <label for="filter-inp">Filters</label>
                    <p>Choose Filters</p>
                </div>
            </div>
            <button class = "searchBtn"type="submit">
                <svg xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor">

                    <path d="M10.5 3a7.5 7.5 0 1 0 4.74 13.3l4.23 4.23a1 1 0 0 0 1.41-1.41l-4.23-4.23A7.5 7.5 0 0 0 10.5 3Zm0 2a5.5 5.5 0 1 1 0 11a5.5 5.5 0 0 1 0-11Z"/>
                </svg>
                &nbsp;
            </button>
            <div class="search"><p>Search</p></div>
        </form>
        <div class="account"><p>P</p></div>
    </nav>
</header>
