<link rel="stylesheet" href="/style/date-picker/date-picker.css">
<div class="date-container">
    <div class="title-cal">
        <p>Select Check-In Date</p>
        <div class="buttondiv">
            <button class="prev-month mover">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="19" y1="12" x2="5" y2="12"></line>
                    <polyline points="12 19 5 12 12 5"></polyline>
                </svg>
            </button>
            <button class="next-month mover" >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <polyline points="12 5 19 12 12 19"></polyline>
                </svg>
            </button>
        </div>
    </div>
    <div class="calendar-holder">
        <div class="main-calendar">
                <div class="month-name">June</div>
                <div class="days">
                    <span class="day">S</span>
                    <span class="day">M</span>
                    <span class="day">T</span>
                    <span class="day">W</span>
                    <span class="day">T</span>
                    <span class="day">F</span>
                    <span class="day">S</span>
                </div>
                <!-- /.days -->
                <div class="dates">
                    <button disabled>1</button>
                    <button disabled>2</button>
                    <button disabled>3</button>
                    <button disabled>4</button>
                    <button disabled>5</button>
                    <button>6</button>
                    <button>7</button>
                    <button>8</button>
                    <button class="today">9</button>
                    <button>10</button>
                    <button>11</button>
                    <button>12</button>
                    <button>13</button>
                    <button>14</button>
                    <button>15</button>
                    <button>16</button>
                    <button>17</button>
                    <button>18</button>
                    <button>19</button>
                    <button>20</button>
                    <button>21</button>
                    <button>22</button>
                    <button>23</button>
                    <button>24</button>
                    <button>25</button>
                    <button>26</button>
                    <button>27</button>
                    <button>28</button>
                    <button>29</button>
                    <button>30</button>
                </div>
                <!-- /.dates -->
            </div>
            <div class="main-calendar">
                <div class="month-name">July</div>
                <div class="days">
                    <span class="day">S</span>
                    <span class="day">M</span>
                    <span class="day">T</span>
                    <span class="day">W</span>
                    <span class="day">T</span>
                    <span class="day">F</span>
                    <span class="day">S</span>
                </div>
                <!-- /.days -->
                <div class="dates">
                    <button disabled>1</button>
                    <button disabled>2</button>
                    <button disabled>3</button>
                    <button disabled>4</button>
                    <button disabled>5</button>
                    <button>6</button>
                    <button>7</button>
                    <button>8</button>
                    <button class="today">9</button>
                    <button>10</button>
                    <button>11</button>
                    <button>12</button>
                    <button>13</button>
                    <button>14</button>
                    <button>15</button>
                    <button>16</button>
                    <button>17</button>
                    <button>18</button>
                    <button>19</button>
                    <button>20</button>
                    <button>21</button>
                    <button>22</button>
                    <button>23</button>
                    <button>24</button>
                    <button>25</button>
                    <button>26</button>
                    <button>27</button>
                    <button>28</button>
                    <button>29</button>
                    <button>30</button>
                </div>
                <!-- /.dates -->
            </div>

    </div>    
</div>
