<div class="work-screen">
    <img src="/images/logo-image-3d-2.png" alt="">
    <p>&nbsp;&middot;&nbsp;Let's Get Started&nbsp;&middot;&nbsp;</p>
    <button class="login Btn">Login Into Gnb</button>
    <button class="sign-up Btn">Sign Up To Gnb</button>
    <button class="cool Btn">Wanna See Something Cool !?</button>
</div>