<div class="login-screen">
    <div class="index-logo"><img src="/images/logo-image-3d-2.png" alt=""></div>
    <div class="details">
        <h2>&nbsp;&middot;&nbsp;Welcome Back&nbsp;&middot;&nbsp;</h2>
        <p>Enter Your Details Below To Log Back Into Your Account</p>
    </div>
    <div class="input user-div">
        <div class="icon"><img src="/icons/user-icons/mail.svg" alt=""></div>
        <input type="text" class="username" name="username" placeholder="Enter Your Email">
    </div>
    <div class="input pass-div">
        <div class="icon"><img src="/icons/user-icons/password.svg" alt=""></div>
        <input type="password" class="password" name="password" placeholder="Enter Password">
    </div>
    <button class="login-btn Btn">Login</button>
    <div class="or-login">
        <div class="or-login-text">
            <div class="span-lo"></div>
            <p>Or Login With</p>
            <div class="span-lo"></div>
        </div>
        <div class="login-link">
            <div class="or google">
                <img src="/icons/user-icons/google-logo.png" alt="">
            </div>
            <div class="or apple">
                <img src="/icons/user-icons/apple-logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="signup-text">
        <p>Dont Have An Account ? <a href="">Sign Up</a></p>
    </div>
</div>