<div class="signup-screen">
    <div class="index-logo"><img src="/images/logo-image-3d-2.png" alt=""></div>
    <div class="details">
        <h2>&nbsp;&middot;&nbsp;Sign up&nbsp;&middot;&nbsp;</h2>
        <p>Enter Your Details Below To Sign Up To GroundBnb</p>
    </div>
    <div class="input name-div">
        <div class="icon"><img src="/icons/user-icons/user-icon.svg" alt=""></div>
        <input type="text" class="name" name="name" placeholder="Enter Your Full Name">
    </div>
    
    <button class="next-btn Btn">Next Page
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="5" y1="12" x2="19" y2="12" />
            <polyline points="12 5 19 12 12 19" />
        </svg>

    </button>
    <div class="or-login">
        <div class="or-login-text">
            <div class="span-lo"></div>
            <p>Or Sign Up With</p>
            <div class="span-lo"></div>
        </div>
        <div class="login-link">
            <div class="or google">
                <img src="/icons/user-icons/google-logo.png" alt="">
            </div>
            <div class="or apple">
                <img src="/icons/user-icons/apple-logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="login-text">
        <p>Already Have Account ? <a href="">Log In</a></p>
    </div>
</div>

<div class="signup-screen-2">
    <div class="index-logo"><img src="/images/logo-image-3d-2.png" alt=""></div>
    <div class="details">
        <h2>&nbsp;&middot;&nbsp;SIGNUP&nbsp;&middot;&nbsp;</h2>
        <p>Complete These Further Steps To Complete The SignUp</p>
    </div>
    <div class="input user-div">
        <div class="icon"><img src="/icons/user-icons/mail.svg" alt=""></div>
        <input type="text" class="username" name="username" placeholder="Enter Your Email">
    </div>
    <div class="input pass-div">
        <div class="icon"><img src="/icons/user-icons/password.svg" alt=""></div>
        <input type="password" class="password" name="password" placeholder="Enter Password">
    </div>
    <div class="input conf-pass-div">
        <div class="icon"><img src="/icons/user-icons/password.svg" alt=""></div>
        <input type="password" class="password" name="password" placeholder="Confirm Password">
    </div>
    <button class="signup-btn Btn">Sign Up</button>
</div>
