<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroundBnb - Place Where Vibe Meets Rental </title>
    <link rel="stylesheet" href="/style/main/main-test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="/style/main/iphone-test.css">
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Londrina+Shadow&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="title">
        <span class="welcome">Welcome To</span>
        <span class="logo">Ground Bnb</span>
    </div>
    <div class="main">
        <div class="mobile-screen">
            <img src="/images/bg-rim-image.png" alt="">
            <%-include("../partials/iphone.ejs")%>            
        </div>
    </div>
    <div class="parent-container">
        <div class="parent">
            <div class="deck">
                    <% allListings.forEach(listing=>{%>
                    <div class="card" id="<%=listing._id%>">
                        <div class="card-holder">
                            <img src="<%=listing.image.url%>" alt="">
                            <div class="card-detail">
                                <p class="par-title"><%=listing.title%></p>
                            </div>
                        </div>
                    </div>
                <%}) %>
            </div>
        </div>
    </div>
    
    <script src="/script/index/cardAnimation.js"></script>
</body>
</html>